*.iml
*.xcf
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/.name
.idea/
firma/
app/src/main/res/values/secrets.xml
app/google-services.json
app/release/app-release.aab
assets/
capture/lujos.mp4
capture/pride quiz.mp4
capture/ic_launcher_background.png
capture/ic_launcher-playstore.png
capture/christmas/EN_store_background.png
capture/christmas/ES_store_background.png
capture/christmas/gorro.png
capture/christmas/ic_launcher_background.png
capture/christmas/ic_launcher_foreground.png
capture/christmas/otro/5a1ba232267e05.4123056615117604341577.png
capture/christmas/otro/5a1bc6f9931799.2191846015117698496025.png
capture/christmas/otro/5a1cfb413b1ca0.8988251915118487692421.png
capture/christmas/otro/5a1cfc44ef9de2.6983081615118490289815.png
capture/christmas/otro/5a291280c2c232.7626117015126411527977.png
capture/christmas/otro/broadband-icon-7.jpg
capture/christmas/otro/gorro.png
capture/christmas/otro/ic_launcher_background.png
capture/christmas/otro/ic_launcher_foreground.png
capture/christmas/otro/kisspng-black-and-white-point-angle-pattern-sky-falling-snow-5a6c6b29030277.9703477515170547610123.png
capture/christmas/otro/kisspng-santa-claus-christmas-guirlande-de-noxebl-clip-art-christmas-bells-with-grass-used-5aa27357e07624.8980278715205957999194.png
capture/christmas/otro/pride/Agender.png
capture/christmas/otro/pride/agender_symbol.png
capture/christmas/otro/pride/aliagender_symbol_new.png
capture/christmas/otro/pride/AllFlagsLGTBIQ.png
capture/christmas/otro/pride/androgino_symbol.png
capture/christmas/otro/pride/Androgyne.webp
capture/christmas/otro/pride/butch_symbol_new.png
capture/christmas/otro/pride/Ceterosexual.png
capture/christmas/otro/pride/cuirgender.png
capture/christmas/otro/pride/demiagender_with_third_gender_symbol_new.png
capture/christmas/otro/pride/demiboy_gay.png
capture/christmas/otro/pride/demiboy_symbol.png
capture/christmas/otro/pride/demigender.png
capture/christmas/otro/pride/demigirl_lesbian.png
capture/christmas/otro/pride/demigirl_symbol.png
capture/christmas/otro/pride/Demiheteroflexible-romantic.png
capture/christmas/otro/pride/demihomosensual.png
capture/christmas/otro/pride/Deminonbinary.png
capture/christmas/otro/pride/Dinic.png
capture/christmas/otro/pride/Dotsensual.png
capture/christmas/otro/pride/empty_gender_version_symbol.png
capture/christmas/otro/pride/epicene_symbol.png
capture/christmas/otro/pride/Farodinic.png
capture/christmas/otro/pride/Faroric.png
capture/christmas/otro/pride/femme_symbol_new.png
capture/christmas/otro/pride/Gay_Men_Pride.png
capture/christmas/otro/pride/gender_fluid_symbol_new.png
capture/christmas/otro/pride/gender_fluid_third_gender_and_demi_girl_symbol.png
capture/christmas/otro/pride/Genderqueer-non-binay.png
capture/christmas/otro/pride/Gendervoid_eleiinium_new_flag.png.webp
capture/christmas/otro/pride/grisasexualidad.jpg
capture/christmas/otro/pride/Heaaesthetic.png
capture/christmas/otro/pride/heteroflexible.png
capture/christmas/otro/pride/heteroflexible-romantic.png
capture/christmas/otro/pride/Homoflexible_Gay_Man.png
capture/christmas/otro/pride/Indiviqueerplatonic.png
capture/christmas/otro/pride/Intergenero_symbol.png
capture/christmas/otro/pride/labrys-symbol.png
capture/christmas/otro/pride/Monosexual.png
capture/christmas/otro/pride/Multisexual.png
capture/christmas/otro/pride/neutrois-symbol.png
capture/christmas/otro/pride/Omnisexuality.png
capture/christmas/otro/pride/pangender_or_poligender_symbol.png
capture/christmas/otro/pride/Pomosexual.jpg
capture/christmas/otro/pride/Queerplatonic_Gay_Man.png
capture/christmas/otro/pride/quiz-world-game-export.json
capture/christmas/otro/pride/quiz-world-game-export_new.json
capture/christmas/otro/pride/quiz-world-game-export_new.json.bak
capture/christmas/otro/pride/Straight_Ally.png
capture/christmas/otro/pride/tercer_gender_symbol.png
capture/christmas/otro/pride/Transgender_symbol_new.png
capture/christmas/otro/pride/travesti_n-b_symbol.png
capture/christmas/otro/pride/Vaguian.png
capture/christmas/otro/pride/capturas/panuelos2.jpg
capture/christmas/otro/pride/capturas/Screenshot_20220802-075213.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075237.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075251.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075309.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075329.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075405.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075428.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075443.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075457.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075509.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075527.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075540.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075554.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075606.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075619.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075631.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075643.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075701.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075715.png
capture/christmas/otro/pride/capturas/Screenshot_20220802-075742.png
capture/ic_launcher_foreground.png
capture/christmas/
