*.iml
*.xcf
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/.name
.idea/
firma/
app/src/main/res/values/secrets.xml
app/google-services.json
app/release/app-release.aab
assets/
capture/lujos.mp4
capture/pride quiz.mp4
capture/christmas/
capture/ic_launcher_background.png
capture/ic_launcher_foreground.png
capture/ic_launcher-playstore.png
